In [ ]:
my_list = [
    1, 2, 3,
    4, 5, 6,
    ]

my_list2 = [
    1, 2, 3,
    4, 5, 6,
]